.body {
  font-family: cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: whitesmoke;
  background-color: lightslategray;
  padding: 20px;
  font-style: italic;
  align-self: stretch;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title-gif {
  height: auto;
  width: 300px;
  border: 3px solid #365d93;
  border-radius: 8px;
  margin: 20px;
}

.options {
  align-self: stretch;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  background-color: slategray;
}

.option {
  border-radius: 8px;
  border: 3px solid hsl(215, 46%, 39%);
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2px;
}

.results {
  color: slategray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  min-height: 40px;
  font-size: 20px;
  flex-direction: column;
  text-align: center;
}

.score {
  font-family: "Papyrus";
  font-size: 36px;
  font-weight: 900;
  color: whitesmoke;
}

.new-game {
  border-radius: 8px;
  font-family: cursive;
  /* background-color: slategray; */
  border: 2px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: slategray;
  margin-top: 10px;
}
